In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
type(1)

int

In [4]:
type(1.5)

float

In [7]:
'hola'

'hola'

In [8]:
"joe"

'joe'

In [11]:
print('''joe
     oke leuk
     finale''')

joe
     oke leuk
     finale

In [13]:
True

True

In [14]:
False

False

In [15]:
None

In [16]:
a = 1
print(a)

1

In [17]:
a + 5

6

In [18]:
print(a)

1

In [19]:
a = a + 10

In [20]:
print(a)

11

In [21]:
a + 4

15

In [22]:
b= 'feestje'

In [23]:
print(b)

feestje

In [24]:
c= 'mies'

In [25]:
print(c)

mies

In [26]:
print(b+c)

feestjemies

In [27]:
d=b+c

In [28]:
print(d)

feestjemies

In [29]:
schoenmaat= [39, 40, 41]

In [30]:
print(schoenmaat)

[39, 40, 41]

In [31]:
schoenmaat.append(42)

In [32]:
print(schoenmaat)

[39, 40, 41, 42]

In [33]:
schoenmaat[0]

39

In [34]:
schoenmaat[-1]

42

In [36]:
lijstinlijst=[1,2,3, [1,2], 4]

In [37]:
print(lijstinlijst)

[1, 2, 3, [1, 2], 4]

In [38]:
lijstinlijst[0]

1

In [40]:
lijstinlijst[3]

[1, 2]

In [41]:
lijstinlijst[3][0]

1

In [45]:
Stelletjes = {'Rein' : 'Kels',
           'Jouk' : 'Jules',
           'Thijs' : 'Salien',
           'Huib': 'Loon'
           }

In [48]:
Stelletjes['Rein']

'Kels'

# Assignments

In [51]:
schoenmaat=[38, 39, 40, 41]

In [52]:
print(schoenmaat)

[38, 39, 40, 41]

In [53]:
schoenmaat.remove(2)

ValueError: list.remove(x): x not in list

In [55]:
schoenmaat.remove(39)

In [56]:
print(schoenmaat)

[38, 40, 41]

In [57]:
Familie = {'Rein' : 'Kels',
           'Jouk' : 'Jules',
           'Thijs' : 'Salien',
           'Huib': 'Loon'
           }

In [64]:
Familie['Jouk']

'Jules'

In [65]:
Familie.pop('Jouk')

'Jules'

In [66]:
print(Familie)

{'Rein': 'Kels', 'Thijs': 'Salien', 'Huib': 'Loon'}

In [69]:
allupper= 'THIS TEXT IS COMPLETELY IN UPPER CASE!'

In [70]:
print(allupper)

THIS TEXT IS COMPLETELY IN UPPER CASE!

In [71]:
str.lower(allupper)

'this text is completely in upper case!'

In [75]:
sentence = '''This is a sentence with words seperated by a lot of spaces. 
How can we split it into a list of words? '''

In [76]:
print(sentence)

This is a sentence with words seperated by a lot of spaces.
How can we split it into a list of words?

In [77]:
sentence.split()

['This',
 'is',
 'a',
 'sentence',
 'with',
 'words',
 'seperated',
 'by',
 'a',
 'lot',
 'of',
 'spaces.',
 'How',
 'can',
 'we',
 'split',
 'it',
 'into',
 'a',
 'list',
 'of',
 'words?']

In [78]:
print(sentence)

This is a sentence with words seperated by a lot of spaces.
How can we split it into a list of words?

In [81]:
'''John Smit is 32 years old, is an analyst at Salesfort UK, and is father to a young boy. He is divorced. Mary Smith
is 21 years old, currently studies at the University of Amsterdam, and was born in the US. Tom Brokav is a US journalist,
born in 1940, married with three children. '''

'John Smit is 32 years old, is an analyst at Salesfort UK, and is father to a young boy. He is divorced. Mary Smith\nis 21 years old, currently studies at the University of Amsterdam, and was born in the US. Tom Brokav is a US journalist,\nborn in 1940, married with three children. '

In [83]:
print('''John Smit is 32 years old, is an analyst at Salesfort UK, and is father to a young boy. He is divorced. Mary Smith
is 21 years old, currently studies at the University of Amsterdam, and was born in the US. Tom Brokav is a US journalist,
born in 1940, married with three children. ''')

John Smit is 32 years old, is an analyst at Salesfort UK, and is father to a young boy. He is divorced. Mary Smith
is 21 years old, currently studies at the University of Amsterdam, and was born in the US. Tom Brokav is a US journalist,
born in 1940, married with three children.

In [88]:
People=['John Smit', 'is 32 years old', 'is an analyst at Salesfort UK', 'and is father to a young boy', 'he is divorced'], ['Mary Smith', 'is 21 years old', 'currently studies at the University of Amsterdam', 'and was born in the US'], ['Tom Brokav', 'is a US journalist', 'born in 1940', 'married with three children']

In [91]:
print(People)

(['John Smit', 'is 32 years old', 'is an analyst at Salesfort UK', 'and is father to a young boy', 'he is divorced'], ['Mary Smith', 'is 21 years old', 'currently studies at the University of Amsterdam', 'and was born in the US'], ['Tom Brokav', 'is a US journalist', 'born in 1940', 'married with three children'])

In [92]:
People=[['John Smit', 'is 32 years old', 'is an analyst at Salesfort UK', 'and is father to a young boy', 'he is divorced'], ['Mary Smith', 'is 21 years old', 'currently studies at the University of Amsterdam', 'and was born in the US'], ['Tom Brokav', 'is a US journalist', 'born in 1940', 'married with three children']]

In [93]:
print(People)

[['John Smit', 'is 32 years old', 'is an analyst at Salesfort UK', 'and is father to a young boy', 'he is divorced'], ['Mary Smith', 'is 21 years old', 'currently studies at the University of Amsterdam', 'and was born in the US'], ['Tom Brokav', 'is a US journalist', 'born in 1940', 'married with three children']]

I have decided to organize the data by making it into lists within lists. Now there is one list that is called people, and this list constist of three other lists with information about three different people. Also, by organizing the data in this way, you can later easily remove a part of one of the lists, when you decide not to use that item for your analysis. I think this might be helpful since not all the information is corresponding. For example, for the three people name's and ages are included, but not for all their familylife is mentioned. You could therefore later decide to remove these items if you like.

## Tutorial 3

In [126]:
a=1

In [127]:
print(a)

1

In [128]:
if a == 1: 
    print('a is 1')

a is 1

In [109]:
if a==2:
    print('a is 2')
else: 
    print('a is not 2')

a is not 2

In [117]:
mylist=[1,2,3]

In [131]:
if 3 in mylist:
    print('there is a three in my list')
    print('my list has', len(mylist), 'items')
else:
    print('there is no three in my list')

there is a three in my list
my list has 3 items

In [132]:
if 4 in mylist:
    print('there is a four in my list')
    print('my list has', len(mylist), 'items')
else: 
    print('there is no four in my list')

there is no four in my list

In [135]:
a=0 
b=100

In [136]:
if a > b:
    print('a>b')
elif a < b:
    print('a<b')
elif a == b:
    print('a=b')

a<b

In [138]:
counter = 0
while counter <10:
    print('counter at', counter)
    counter +=1

print('counter finished at', counter)

counter at 0
counter at 1
counter at 2
counter at 3
counter at 4
counter at 5
counter at 6
counter at 7
counter at 8
counter at 9
counter finished at 10

In [139]:
mylist=[1,2,3,4,5,6,7,8,9,10]

for item in mylist:
    print(item)

1
2
3
4
5
6
7
8
9
10

In [140]:
def add_one(number):
    number = number + 1
    return number

In [141]:
add_one(30)

31

In [142]:
for item in mylist:
    print(add_one(item))

2
3
4
5
6
7
8
9
10
11

In [143]:
cleanuptest= [1,2,3,4.5, 'poep', 8]

In [144]:
print(cleanuptest)

[1, 2, 3, 4.5, 'poep', 8]

In [151]:
def check_number(item):
    if type(item) == str:
        return 99
    else: 
        return item

In [152]:
check_number(1)

1

In [149]:
check_number('poep')

99

In [150]:
check_number(4.5)

In [153]:
clean_list=[]

In [154]:
for item in cleanuptest:
    new_item=check_number(item)
    clean_list.append(new_item)

In [155]:
clean_list

[1, 2, 3, 4.5, 99, 8]

# Assignment

In [157]:
alist=[1, 2, 3, 'Mies', 4.5, 73, 2.4,'Tuck']

In [158]:
def assignmentf(item):
    if type(item) == str:
        return len(item)
    else: 
        return item/2

In [162]:
assignmentf('Mies')

4

In [168]:
assignmentf(4.5)

2.25

In [164]:
alist

[1, 2, 3, 'Mies', 4.5, 73, 2.4, 'Tuck']

In [165]:
print(alist)

[1, 2, 3, 'Mies', 4.5, 73, 2.4, 'Tuck']

In [169]:
cleanlist2=[]

In [170]:
for item in alist:
    new_item=assignmentf(item)
    cleanlist2.append(new_item)

In [171]:
cleanlist2

[0.5, 1.0, 1.5, 4, 2.25, 36.5, 1.2, 4]

In [172]:
dictionarietable = [[1, 19, 'NBC', 1]]

SyntaxError: invalid syntax (<ipython-input-172-87811abea4cf>, line 1)

In [173]:
list1 = [1,2]
list2 = [5,6]

LIST = [list1,list2]

print(LIST)

[[1, 2], [5, 6]]

In [211]:
list1=[1, 19, 'NBC', 1]
list2=[2, 25, 'NYT', 0]
list3=[3, 41, 'Facebook', 0]
list4=[4, 37, 'Twitter', 1]
list5=[5, 64, 'Buzzfeed', 1]
list6=[6, 50, 'CBS', 0]
list7=[7, 18, 'The Guardian', 0]
list8=[8, 55, 'Google News', 1]

TABLElist=[list1, list2, list3, list4, list5, list6, list7, list8]

In [212]:
print(TABLElist)

[[1, 19, 'NBC', 1], [2, 25, 'NYT', 0], [3, 41, 'Facebook', 0], [4, 37, 'Twitter', 1], [5, 64, 'Buzzfeed', 1], [6, 50, 'CBS', 0], [7, 18, 'The Guardian', 0], [8, 55, 'Google News', 1]]

In [213]:
def mediatype(item):
    if item[2] == 'Facebook':
        return 'social media'
    elif item[2] == 'Twitter':
        return 'social media'
    elif item[2] =='Buzzfeed':
        return 'social media'
    else: 
        return 'non social media'

In [214]:
NewTable = []

for item in TABLElist:
    new_item=mediatype(item)
    item.append(new_item)
    NewTable.append(item)

In [215]:
print(NewTable)

[[1, 19, 'NBC', 1, 'non social media'], [2, 25, 'NYT', 0, 'non social media'], [3, 41, 'Facebook', 0, 'social media'], [4, 37, 'Twitter', 1, 'social media'], [5, 64, 'Buzzfeed', 1, 'social media'], [6, 50, 'CBS', 0, 'non social media'], [7, 18, 'The Guardian', 0, 'non social media'], [8, 55, 'Google News', 1, 'non social media']]

In [216]:
def agegroups(item):
    if item[1] < 50:
        return 'young'
    elif item[1] > 50:
        return 'old'

In [217]:
NewTable2= []

for item in TABLElist:
    new_item=agegroups(item)
    item.append(new_item)
    NewTable2.append(item)

In [218]:
NewTable2

[[1, 19, 'NBC', 1, 'non social media', 'young'],
 [2, 25, 'NYT', 0, 'non social media', 'young'],
 [3, 41, 'Facebook', 0, 'social media', 'young'],
 [4, 37, 'Twitter', 1, 'social media', 'young'],
 [5, 64, 'Buzzfeed', 1, 'social media', 'old'],
 [6, 50, 'CBS', 0, 'non social media', None],
 [7, 18, 'The Guardian', 0, 'non social media', 'young'],
 [8, 55, 'Google News', 1, 'non social media', 'old']]